@charset "UTF-8";

@font-face {
    font-family: 'ubuntu';
    font-display: swap;
    src: url("../fonts/Ubuntu/Ubuntu-R.ttf") format("truetype");
}

.ubuntu {
    font-family: 'ubuntu';
}

@font-face {
    font-family: 'ubuntu-mono';
    font-display: swap;
    src: url("../fonts/Ubuntu/UbuntuMono-R.ttf") format("truetype");
}

.ubuntu-mono {
    font-family: 'ubuntu-mono';
}